body {
    background-color: lightblue;
    color: darkblue;
    font-family: Arial, sans-serif;
}

section {
    margin-bottom: 30px;
}

#Connect {
    text-align: center;
}

h2 {
    font-size: 32px;
    font-weight: bold;
    color: purple;
}

h1 {
    text-align: center;
    font-size: 48px;
    color: navy;
}

#Experience ul {
    display: flex;
    gap: 20px;
    padding: 0;
    list-style: none;
}

#Experience li {
    background-color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 8px;
    flex: 1;
}

#Connect a {
    color: purple;
    text-decoration: none;
    font-weight: bold;
}

#Connect ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    list-style: none;
    padding: 0;
}